.main-container {
  font-family: sans-serif;
  background-color: #fff;
  margin: 20px;
}


html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
      margin: 0;
      padding: 0;
      font-family: 'Open Sans', sans-serif;
      background: #fff;
    }



li strong {
  color: green;
  margin-right: 0.5rem;
}


